@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Red */
  --color-red-100: #FFE1EA;
  --color-red-200: #FFB1C8;
  --color-red-300: #FF6390;
  --color-red-400: #FF1659;
  --color-red-500: #C70039;
  --color-red-600: #95002B;
  --color-red-700: #64001D;
  --color-red-800: #32000E;
  --color-red-900: #200009;

  /* Purple */
  --color-purple-100: #F4EBF2;
  --color-purple-200: #EFC4E2;
  --color-purple-300: #DF89C6;
  --color-purple-400: #CF4FA9;
  --color-purple-500: #A62D82;
  --color-purple-600: #7D2262;
  --color-purple-700: #531741;
  --color-purple-800: #411032;
  --color-purple-900: #2A0B21;

  /* Beige */
  --color-beige-100: #FAF1ED;
  --color-beige-200: #F3E4DD;
  --color-beige-300: #E8CABB;
  --color-beige-400: #DCAF99;
  --color-beige-500: #D19477;
  --color-beige-600: #B8653E;
  --color-beige-700: #7B4429;
  --color-beige-800: #612F16;
  --color-beige-900: #3D2215;

  /* Gray */
  --color-gray-100: #F6F7FC;
  --color-gray-200: #F1F2F6;
  --color-gray-300: #E4E6ED;
  --color-gray-400: #D6D9E4;
  --color-gray-500: #C8CCDB;
  --color-gray-600: #9AA1B9;
  --color-gray-700: #646D89;
  --color-gray-800: #424C6B;
  --color-gray-900: #2A2E3F;

  /* Yellow */
  --color-yellow-100: #FFF6D4;
  --color-yellow-500: #393735;

  /* Green */
  --color-green-100: #E7FFE7;
  --color-green-500: #197418;

  /* Utility */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #AF2758;
  --color-bg: #160404;
  --color-bg-main: #FCFCFE;
}

@layer utilities {
  .bg-linear {
    background: linear-gradient(to right, #742138, #A878BF);
  }

  /* Typography */
  .headline1 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 115%;
    letter-spacing: -2%;
  }

  .headline2 {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 46px;
    line-height: 125%;
    letter-spacing: -2%;
  }

  .headline3 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1%;
    font-variant-numeric: lining-nums proportional-nums;
  }

  .register-hero-title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -1%;
    font-variant-numeric: lining-nums proportional-nums;
  }
  @media (min-width: 1024px) {
    .register-hero-title {
      font-weight: 800;
      font-size: 46px;
      line-height: 125%;
      letter-spacing: -2%;
      font-variant-numeric: normal;
    }

    .register-step-number {
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
      letter-spacing: -2%;
    }

    .register-step-meta {
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0%;
    }

    .profile-let-make-profile {
      font-family: "Nunito", sans-serif;
      font-weight: 800;
      font-size: 46px;
      line-height: 125%;
      letter-spacing: -2%;
    }
  }

  .headline4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -2%;
  }

  .body1 {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body2 {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body2-w-500 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body2-w-700 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body3 {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body4 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body5 {
    font-family: "Nunito", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .tagline {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .tagline-profile {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}